.calendar {
	:global {
		.header-section > div {
			display: flex;
			align-items: center;
			justify-content: center;
		}
		.header-section h1 {
			padding: 0 1rem;
		}
		.header-section p:hover {
			cursor: pointer;
		}
		.total-amount {
			display: flex;
			justify-content: space-around;
			padding: 1rem 0;
		}

		.day-row {
			display: flex;

			div {
				width: calc(100% / 7);
				padding: 1rem;
			}
		}

		.week-row {
			display: flex;

			.date {
				width: calc(100% / 7);
				height: 5rem;
				padding: 1rem;

				&.sunday {
					color: red;
				}
				&.out-month {
					color: #c8c8c8;
				}
			}
			.deposit {
				font-weight: bold;
				color: #0080ff;
			}
			.expense {
				font-weight: bold;
				color: #dc143c;
			}
		}
	}
}

.dateTransactionPopover {
	display: grid;
	grid-template-columns: 70px 1fr;
}
