.monthContainer {
	display: flex;
}
.categoryContainer {
	display: flex;
	justify-content: space-between;
	margin: 15px 0;
}
.active {
	color: var(--main-color);
	font-weight: 500;
}
.pieChartContainer > div {
	margin: 60px auto 20px;
	width: max-content;
}
.pieChartContainer > p {
	text-align: center;
	margin-top: 10px;
}
.exchangeCurrency {
	border-top: 1px solid black;
	padding: 1rem 0;
	overflow-x: auto;
	white-space: nowrap;
}
.exchangeCurrency > b {
	display: inline-block;
	width: 7.5rem;
	cursor: pointer;
}
.otherExchangeBox {
	padding-top: 1rem;
	text-align: center;
}
.otherExchangeBox > p {
	padding-top: 1rem;
}
